<div class="footercontent">
    <div class="footer-container">
        <div class="footer">
            <div class="container">
                <div class="fotmid">
                    <ul class="footlist">
                        <li class="f-te" style="float: left;">
                            <dl>
                                <dt style="margin-left: 16px;width: 285px;">
                                    <img src="/images/logo.png" height="50" width="50">
                                    <span style="font-size: 20px; color: black;">China Me Truckparts</span>
                                </dt>
                                <dd>
                                    <img style="height: 22px;width: 22px;" src="/images/media/wysiwyg/_2_.png"/>
                                    +86&nbsp;19902463814
                                </dd>
                                <dd>
                                    <img style="height: 22px;width: 22px;" src="/images/media/wysiwyg/_2_.png"/>
                                    <a href="https://api.whatsapp.com/send?phone=+8619902463814&text=Hello">
                                        WhatsApp
                                    </a>
                                </dd>
                                <dd>
                                    <img src="/images/media/wysiwyg/lulin_88.png"/>Email: chinametruckparts@163.com
                                </dd>
                                <dd>
                                    <img src="/images/media/wysiwyg/lulin_86.png" />
                                    Dongyi Auto Parts City, Guangzhou City, Guangdong Province, China
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <h4>INFORMATION</h4>
                            <p>
                                <a href="/about.html" target="_blank">
                                    About Us
                                </a>
                            </p>
                            <p>
                                <a href="/contact.html" target="_blank">
                                    Contact Us
                                </a>
                            </p>
                        </li>
                        <li>
                            <h4>CONTACT US</h4>
                            <form enctype="application/x-www-form-urlencoded" action="/submit.html"  id="productcontactForm" method="post">
                                <input type="hidden" name="pages" value="home">
                                <div>
                                    <input type="text" name="cust_name" id="personal_name" placeholder="Name">
                                </div>
                                <div>
                                    <input style="margin-top: 10px;" type="text" name="cust_email" id="customer_email"
                                            placeholder="E-mail">
                                </div>
                                <div>
                                    <textarea style="margin-top: 10px;" name="business" id="detail"
                                               placeholder="Comment"></textarea>
                                </div>
                                <div>
                                    <button style=" height: 27px;margin-top: 10px;width: 96px;line-height: 27px;"
                                            name="" value="" class="bot1">Submit
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <a onclick="returnTop()" class="backtop"></a>
            <!--返回顶部-->
            <script>
              var sdelay = 0;

              function returnTop() {
                window.scrollBy(0, -100);//Only for y vertical-axis
                if (document.body.scrollTop > 0) {
                  sdelay = setTimeout('returnTop()', 10);
                }
              }

            </script>
            <!--返回顶部结束-->

            <script>
              jQuery('#protab .tab li').click(function () {

                new Swiper('.pro-swiper2', {
                  nextButton: '.pro-swiper2 .swiper-button-next',
                  prevButton: '.pro-swiper2 .swiper-button-prev',
                  slidesPerView: 4,
                  slidesPerColumn: 2,
                });

                new Swiper('.pro-swiper3', {
                  nextButton: '.pro-swiper3 .swiper-button-next',
                  prevButton: '.pro-swiper3 .swiper-button-prev',
                  slidesPerView: 4,
                  slidesPerColumn: 2,
                });

                new Swiper('.pro-swiper4', {
                  nextButton: '.pro-swiper4 .swiper-button-next',
                  prevButton: '.pro-swiper4 .swiper-button-prev',
                  slidesPerView: 4,
                  slidesPerColumn: 2,
                });

              });
            </script>


            <script>
              new Swiper('.pro-swiper1', {
                nextButton: '.pro-swiper1 .swiper-button-next',
                prevButton: '.pro-swiper1 .swiper-button-prev',
                slidesPerView: 4,
                slidesPerColumn: 2,
              });
            </script>
            <address class="copyright"></address>
        </div>
    </div>
</div>