<div class="footercontent">
    <div class="footer-container">
        <div class="footer">
            <div class="container">
                <div class="fotmid">
                    <ul class="footlist">
                        <li class="f-te" style="float: left;">
                            <dl>
                                <dt style="margin-left: 16px;width: 285px;">
                                    <img src="/chinatruck/static/images/logo.png" height="50" width="50">
                                    <span style="font-size: 20px; color: black;">China Me Truckparts</span>
                                </dt>
                                <dd>
                                    <img style="height: 22px;width: 22px;" src="/chinatruck/static/images/media/wysiwyg/_2_.png"/>+8619902463814
                                </dd>
                                <dd>
                                    <img src="/chinatruck/static/images/media/wysiwyg/lulin_88.png"/>Email: chinametruckparts@163.com
                                </dd>
                                <dd>
                                    <img src="/chinatruck/static/images/media/wysiwyg/lulin_86.png" />
                                    Dongyi Auto Parts City, Guangzhou City, Guangdong Province, China
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <h4>INFORMATION</h4>
                            <p>
                                <a href="javascript:if(confirm(%27https://www.chinatruckparts.com/about-magento-demo-store  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.chinatruckparts.com/about-magento-demo-store%27">
                                    About Us
                                </a>
                            </p>
                        </li>
                    </ul>
                    <address class="copyright" style="margin-top: 5px;padding: 15px 0;">
                        <div style="display:none;">
                            <li style="    margin-bottom: 10px;">
                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.chinatruck.cc/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.chinatruck.cc/%27"
                                   tppabs="http://www.chinatruck.cc/" target="_blank" title="chinatruckparts.com">
                                    <img style="height:46px;" src="media/wysiwyg/wzdtim1.jpg"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzdtim1.jpg" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.howotruck.org/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.howotruck.org/%27"
                                   tppabs="http://www.howotruck.org/" target="_blank" title="howotruck.org">
                                    <img style="height:46px;" src="media/wysiwyg/wzd2.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd2.png" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.shacman.org.cn/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.shacman.org.cn/%27"
                                   tppabs="http://www.shacman.org.cn/" target="_blank" title="shacman.org.cn">
                                    <img style="height:46px; " src="media/wysiwyg/wzd3.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd3.png" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.beiben.cc/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.beiben.cc/%27"
                                   tppabs="http://www.beiben.cc/" target="_blank" title="beiben.cc">
                                    <img style="height:46px; " src="media/wysiwyg/wzd4.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd4.png" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.qdfaw.cc/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.qdfaw.cc/%27"
                                   tppabs="http://www.qdfaw.cc/" target="_blank" title="qdfaw.cc">
                                    <img style="height:46px; " src="media/wysiwyg/wzd5.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd5.png" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.chinaconstructionmachinery.org/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.chinaconstructionmachinery.org/%27"
                                   tppabs="http://www.chinaconstructionmachinery.org/" target="_blank"
                                   title="chinaconstructionmachinery.org">
                                    <img style="height:46px; " src="media/wysiwyg/wzd6.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd6.png" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.chinasemitrailer.org/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.chinasemitrailer.org/%27"
                                   tppabs="http://www.chinasemitrailer.org/" target="_blank"
                                   title="chinasemitrailer.org">
                                    <img style="height:46px; " src="media/wysiwyg/wzd7.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd7.png" alt=""/>
                                </a>

                                <a style="margin-right:10px"
                                   href="javascript:if(confirm(%27http://www.kailaiauto.com/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.kailaiauto.com/%27"
                                   tppabs="http://www.kailaiauto.com/" target="_blank" title="kailaiauto.com">
                                    <img style="height:46px; " src="media/wysiwyg/wzd8.png"
                                         tppabs="https://www.chinatruckparts.com/media/wysiwyg/wzd8.png" alt=""/>
                                </a>
                            </li>
                        </div>
                        <div style="margin-bottom: -31px;">
                            ©2004-2019 <a
                                href="javascript:if(confirm(%27http://www.chinatruckparts.com/  \n\nThis file was not retrieved by Teleport Ultra, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.chinatruckparts.com/%27"
                                tppabs="http://www.chinatruckparts.com/" title="Kai Lai">Kai Lai</a>. All rights
                            reserved
                        </div>
                    </address>
                </div>
            </div>


            <a onclick="returnTop()" class="backtop"></a>
            <!--返回顶部-->
            <script>
              var sdelay = 0;

              function returnTop() {
                window.scrollBy(0, -100);//Only for y vertical-axis
                if (document.body.scrollTop > 0) {
                  sdelay = setTimeout('returnTop()', 10);
                }
              }

            </script>
            <!--返回顶部结束-->

            <script>
              jQuery('#protab .tab li').click(function () {

                new Swiper('.pro-swiper2', {
                  nextButton: '.pro-swiper2 .swiper-button-next',
                  prevButton: '.pro-swiper2 .swiper-button-prev',
                  slidesPerView: 4,
                  slidesPerColumn: 2,
                });

                new Swiper('.pro-swiper3', {
                  nextButton: '.pro-swiper3 .swiper-button-next',
                  prevButton: '.pro-swiper3 .swiper-button-prev',
                  slidesPerView: 4,
                  slidesPerColumn: 2,
                });

                new Swiper('.pro-swiper4', {
                  nextButton: '.pro-swiper4 .swiper-button-next',
                  prevButton: '.pro-swiper4 .swiper-button-prev',
                  slidesPerView: 4,
                  slidesPerColumn: 2,
                });

              });
            </script>


            <script>
              new Swiper('.pro-swiper1', {
                nextButton: '.pro-swiper1 .swiper-button-next',
                prevButton: '.pro-swiper1 .swiper-button-prev',
                slidesPerView: 4,
                slidesPerColumn: 2,
              });
            </script>


            <address class="copyright"></address>
            <script>
              jQuery('.copyright li a').last().attr('href', 'http://www.truckparts.cc/');
            </script>
        </div>
    </div>
</div>