<div class="header-top-hz">
    <div class="header-top">
        <header>
            <style type="text/css">
                .wsn ul {
                    display: none;
                    width: 160px;
                    height: 60px;
                    position: absolute;
                    background-color: white;
                    text-align: center;
                    line-height: 26px;
                    border: 1px solid #ccc;
                    border-top: none;
                }

                .top_sns a:hover {
                    color: #ea6c35 !important;
                }
            </style>

            <div id="J_m_nav">
                <div class="hdtop">
                    <div class="container" style="text-align:left;padding: 0;margin: 0;">

                        <b class="tel wsn">
                            <i class="iconfont">&#xe633;</i>86+15269249286
                        </b>
                        <a href="mailto:sales16@chinatruck.cc">
                            <b class="email wsn" style="line-height: 38px;">
                                <i class="iconfont">&#xe60c;</i>sales16@chinatruck.cc
                            </b>
                        </a>
                        <div class="hdright f-right">
                            <div class="top_sns"
                                 style="display: inline-block;    display: inline-block;height: 40px;line-height: 40px;">
                                <a style="color:#666;" target="_blank" ;
                                   href="javascript:if(confirm(%27https://www.facebook.com/ChinaTruckSpareParts/Fb  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.facebook.com/ChinaTruckSpareParts/Fb%27"
                                   tppabs="https://www.facebook.com/ChinaTruckSpareParts/Fb"
                                   class="iconfont iconface">&#xe620;</a>
                                <a style="color:#666;" href="#" class="iconfont icontwt">&#xe600;</a>
                                <a style="color:#666;" target="_blank" ;
                                   href="javascript:if(confirm(%27https://plus.google.com/u/0/b/114142868491652939293/+ChinatruckCc  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://plus.google.com/u/0/b/114142868491652939293/+ChinatruckCc%27"
                                   tppabs="https://plus.google.com/u/0/b/114142868491652939293/+ChinatruckCc"
                                   class="iconfont icongl">&#xe601;</a>
                            </div>
                            <ul>
                                <li><i class="iconfont">&#xe679;</i><a
                                        href="customer/account/login/index.htm"
                                        tppabs="https://www.chinatruckparts.com/customer/account/login/">Sign
                                    In</a> |<a
                                        rel="nofollow" href="customer/account/create/index.htm"
                                        tppabs="https://www.chinatruckparts.com/customer/account/create/">Register</a>
                                </li>
                            </ul>
                            <div class="contact-main show"
                                 onclick="window.location.href='checkout/cart/index.htm'/*tpa=https://www.chinatruckparts.com/checkout/cart/*/">
                                <div class="livechart">

                                    <a rel="nofollow" class="btn btn-xs  open-cart cboxElement"
                                       data-toggle="dropdown">
                                        <span class="shopping-cart"></span>
                                        <span class="cartcount">0</span>
                                    </a>
                                </div>
                            </div>
                            <div class="hd-rit" style="float: right; height: 30px;margin-top: 5px;">
                                <a style="color: #666; padding-top: 8px;" href="checkout/cart/index.htm"
                                   tppabs="https://www.chinatruckparts.com/checkout/cart/" class="cat">
                                    <i class="iconfont">&#xe657;</i>
                                    <em style="top:0;">0</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top container" style="width: 1280px;padding: 0;">
                    <div style="min-height: 56px;" class="logo f-left">
                        <a style="padding: 0;text-align: left;" href="index.htm">
                            <img style="max-width: 82%;" src="skin/frontend/rwd/kailai/kailai_images/logo.jpg"></a>
                    </div>


                    <form id="search_mini_form" action="https://www.chinatruckparts.com/catalogsearch/result/"
                          method="get">
                        <div class="top-lft f-left" style="top: 0;">
                            <label for="search">Search:</label>
                            <input style="width:494px;height: 36px;box-sizing: content-box;" id="search"
                                   class="search" type="search" name="q" value=""
                                   class="input-text required-entry" maxlength="128" placeholder=""/>
                            <button style="height: 36px;width: 44px;" type="submit" title="Search"
                                    kailai_webfont
                            /iconfont.css="Search" class="search-button"><span><span>Search<i
                                class="iconfont icon-sousuo"></i></button>


                        </div>


                        <script type="text/javascript">
                          //<![CDATA[
                          var searchForm = new Varien.searchForm('search_mini_form', 'search', '');
                          // searchForm.initAutocomplete('https://www.chinatruckparts.com/catalogsearch/ajax/suggest/', 'search_autocomplete');
                          //]]>
                        </script>
                    </form>


                    <div class="top-right f-right" style="width: auto;">
                        <a href="#" style="line-height: 40px;">
                            <img style="margin-top:-8px;" src="skin/frontend/rwd/kailai/kailai_images/zy-wen.png">
                        </a>
                    </div>
                    <div style="display:none;margin-top:0 !important;" class="hdright f-right zy-hdright">

                        <div class="top_sns"
                             style="padding-top: 7px;display: inline-block;float:left;margin:0;">
                            <a style="color:#666;" href="#" class="iconfont iconface">&#xe620;</a>
                            <a style="color:#666;" href="#" class="iconfont icontwt">&#xe600;</a>
                            <a style="color:#666;" href="#" class="iconfont icongl">&#xe601;</a>
                        </div>


                        <ul>
                            <!--<li>
                                <i class="iconfont">&#xe679;</i><a href="customer/account/login/index.htm">Sign In</a>
                                |<a rel="nofollow" href="customer/account/create/index.htm">Register</a>
                            </li>-->
                        </ul>
                        <div class="hd-rit" style="float: right; height: 30px;margin-top: 5px;">
                            <a style="color: #666; padding-top: 8px;" href="checkout/cart/index.htm" class="cat">
                                <i class="iconfont">&#xe657;</i>
                                <em style="top:0;">0</em>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <script type='text/javascript'>

              var nt = !1;
              jQuery(window).bind("scroll",
                function () {
                  var st = jQuery(document).scrollTop();//往下滚的高度111
                  nt = nt ? nt : jQuery("#J_m_nav").offset().top;
                  // document.title=st;
                  var sel = jQuery("#J_m_nav");
                  if (st > 250) {
                    sel.addClass("nav_fixed");
                    jQuery(".hdtop").css("display", "none");
                    jQuery(".top-right.f-right").css("display", "none");
                    jQuery(".hdright.f-right.zy-hdright").css("display", "block");
                  } else if (st < 250) {
                    sel.removeClass("nav_fixed");
                    jQuery(".hdright.f-right.zy-hdright").css("display", "none");
                    jQuery(".hdtop").css("display", "block");
                    jQuery(".top-right.f-right").css("display", "block");
                  }
                });
            </script>
            <!--Navigation -->
            <nav class="navbar navbar-default" style="background-color: #f5f5f5;border:none;">
                <div class="navBar1" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" style="float: left !important;">
                        <li>
                            <a onfocus="this.blur();"
                               style="font-size: 17px;font-weight: 600;background-color: #364487;color: #fff;"
                               href="index.htm">brand search</a>
                            <span class="iconfont icon-angle-down"></span>
                        </li>
                        <li class="m" id="m2">
                            <a onfocus="this.blur();" style="font-size: 17px;font-weight: 600;"
                               href="numbersearch.html">parts number search</a>
                            <span class="iconfont icon-angle-down"></span>
                        </li>
                        <li class="m" id="m3">
                            <a onfocus="this.blur();" style="font-size: 17px;font-weight: 600;"
                               href="categories.htm">parts categories search</a>
                            <span class="iconfont icon-angle-down"></span>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">jQuery(".nav").slide({
                  type: "menu",
                  titCell: ".m",
                  targetCell: ".sub",
                  effect: "slideDown",
                  delayTime: 300,
                  triggerTime: 0,
                  returnDefault: true
                });</script>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
            </nav>
            <!-- Navigation -->
        </header>
        </head>
    </div>
</div>