<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="congo/include/header.html"></head>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="China Me Truck Parts">
    <meta name="description" content="China Me Truck Parts">
    <title>mambu mankaka ma</title>
</head>
<body>
<div class="wrapper" style="margin-top: 50px;">
    <div class="wrap wrap-about">
        <div class="main main-about">
            <div class="about1" style="margin-top:-50px">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="note">
                                <h1>mambu mankaka ChinaMetruck.com</h1>
                                <p>
                                    fuani mu 2004, kamila ki kia chinaparts.commpitakani
                                    mu bikonko bisoneka biampimpita muna tunga bisalasala
                                    biampimpita ye bisalasala biampimpita ye lundombe.
                                    nanga fuani biampimpita nkatu
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <img class="lazy" src="/images/about-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="about1">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <img class="lazy" src="/images/about-2.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="note">
                                    <h1>kiuvu</h1>
                                    <p>binkonko bia China, lusadisu lua maluse</p>
                                    <p>
                                        lundombe luambi muna sadila bintu biampi ye
                                        bantula biampimpita ye kari biampimpita.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about1">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="note">
                                <h1>mpukilala</h1>
                                <p>
                                    ChinaMetruck.com mu binongolo bia bantu bamana,
                                    yifuanane nkulu a 22
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <img class="lazy" src="/images/about-3.png"
                                 alt="" style="padding-left: 50px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="congo/include/footer.html"></div>
</body>
</html>
