<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header.html"></head>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="China Me Truck Parts">
    <meta name="description" content="China Me Truck Parts">
    <title>About Us</title>
</head>
<body>
<div class="wrapper" style="margin-top: 50px;">
    <div class="wrap wrap-about">
        <div class="main main-about">
            <div class="about1" style="margin-top:-50px">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="note">
                                <h1>About ChinaMetruck.com</h1>
                                <p>
                                    Launched in 2004, china truck parts.com is a professional
                                    platform to provide parts query and parts supply for
                                    overseas customers of all brands of Chinese trucks. We serve
                                    trucks and truck parts around the world.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <img class="lazy" src="/images/about-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="about1">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <img class="lazy" src="/images/about-2.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="note">
                                    <h1>Our Mission</h1>
                                    <p>China Trucks, Global Services</p>
                                    <p>
                                        We do this by helping buyers find Trucks and Truck Parts
                                        quickly and efficiently.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about1">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="note">
                                <h1>One-Stop Shop</h1>
                                <p>
                                    ChinaMetruck.com brings you hundreds of millions of Trucks in
                                    over 22 different major categories, including Heavy Duty
                                    Truck, Light Truck, Special Vehicle, Truck Trailer etc.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <img class="lazy" src="/images/about-3.png"
                                 alt="" style="padding-left: 50px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include/footer.html"></div>
</body>
</html>
