<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header.html"></head>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="China Me Truck Parts">
    <meta name="description" content="China Me Truck Parts">
    <title>Contact Us</title>
</head>
<body>
<div class="main main-contact">
    <div class="container" style="margin-top: 50px;">
        <div class="main-title">
            <h1>Contact Us</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="cnote" style="height: 386px; position: relative;padding: 30px 20px;overflow: hidden;border: 1px solid #dcdcdc;">
                    <div class="note">
                        <h3>chinametruckparts.com</h3>
                        <p>Add: Dongyi Auto Parts City, Guangzhou City, Guangdong Province, China</p>
                        <p>Tel: <a href="tel:+8619902463814">+86&nbsp;19902463814</a></p>
                        <p>Contact person: Mr. Dong Yi</p>
                        <p>E-mail: <a href="mailto:chinametruckparts@163.com">chinametruckparts@163.com</a></p>
                        <a class="consultation" href="mailto:chinametruckparts@163.com"><span>Free consultation</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include/footer.html"></div>
</body>
</html>
