<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header.html"></head>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="China Me Truck Parts">
    <meta name="description" content="China Me Truck Parts">
    <title>Contact Us</title>
</head>
<body>
<div class="main main-contact">
    <div class="container" style="margin-top: 50px;">
        <div class="main-title">
            <h1>Contact Us</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="cnote" style="height: 386px; position: relative;padding: 30px 20px;overflow: hidden;border: 1px solid #dcdcdc;">
                    <div class="note">
                        <h3>chinametruckparts.com</h3>
                        <p>Add: Dongyi Auto Parts City, Guangzhou City, Guangdong Province, China</p>
                        <p>Tel: <a href="tel:+8619902463814">+8619902463814</a></p>
                        <p>Contact person: Mr. Dong Yi</p>
                        <p>E-mail: <a href="mailto:chinametruckparts@163.com">chinametruckparts@163.com</a></p>
                        <a class="consultation" href="mailto:chinametruckparts@163.com"><span>Free consultation</span></a></div>
                </div>
            </div>
            <!--<div class="col-xs-12 col-sm-6 col-md-6">
                <div class="cfigure" style="height: 386px;">
                    <div class="figure">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是President: Mr Windy Sui &ndash;&gt; <img class="lazy" style="display: block;" alt="President: Mr Windy Sui" src="./Contact Us_files/DSC_0664.JPG" data-src="wysiwyg/Salesman/DSC_0664.JPG"> </a></div>
                        <div class="text">
                            <h4>President: Mr Windy Sui</h4>
                            <p>1.Engaging in truck business/industry for 20 years.<br> 2.The life-long goal to serve the world for China Automobile.<br> 3. The founder of the brand/Brand founder :<br> KAILAI(www.chinatruck.cc, www.chinatruckparts.com)<br> 4.The founder of China Auto Parts Alliance.<br> 5.The vice president of Qingdao Chamber of Commerce<br> 6.The distinguished tutor for international College of Education of Qingdao University.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="figureborder">
                    <div class="figure">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Marketing Director: Mr Jason Wong &ndash;&gt; <img class="lazy" style="display: block;" alt="Marketing Director: Mr Jason Wong" src="./Contact Us_files/DSC_0672.JPG" data-src="wysiwyg/Salesman/DSC_0672.JPG"> </a></div>
                        <div class="text">
                            <h4>Marketing Director: Mr Jason Wong</h4>
                            <p>Engaging in truck business for 10 years</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="figureborder">
                    <div class="figure">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Deputy Director: Kevin Jiang &ndash;&gt; <img class="lazy" style="display: block;" alt="Deputy Director: Kevin Jiang" src="./Contact Us_files/DSC_0675.JPG" data-src="wysiwyg/Salesman/DSC_0675.JPG"> </a></div>
                        <div class="text">
                            <h4>Deputy Director: Kevin Jiang</h4>
                            <p>Engaging in truck business for 9 years</p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <!--<div class="contact-title">
                <h3>Spare Parts Sales Dep</h3>
            </div>
            <div class="contact-note">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Angelia Sun &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="Angelia Sun" src="<img alt="" src="./Contact Us_files/DSC_0690.JPG">" style="display: block;"&gt; </a></div>
                    <div class="text">
                        <h4>Angelia Sun</h4>
                        <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8615269249286" target="_blank">8615269249286</a></p>
                        <p>E-mail:&nbsp;<a href="mailto:sales16@chinatruck.cc">sales16@chinatruck.cc</a></p>
                        <p>Skype:&nbsp;<a href="skype:angelia518?chat">angelia518</a></p>
                        <p>Cel:&nbsp;<a href="cel:0086 152 6924 9286">0086 152 6924 9286</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Jim Yao &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="Jim Yao" src="<img alt="" src="./Contact Us_files/DSC_0700.JPG">" style="display: block;"&gt; </a></div>
                    <div class="text">
                        <h4>Jim yao</h4>
                        <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8617669717509" target="_blank">8617669717509</a></p>
                        <p>E-mail:&nbsp;<a href="mailto:sales29@chinatruck.cc">sales29@chinatruck.cc</a></p>
                        <p>Skype:&nbsp;<a href="skype:jimyaofisher?chat">jimyaofisher</a></p>
                        <p>Cel:&nbsp;<a href="cel:0086 176 6971 7509">0086 176 6971 7509</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Memphies Pang&ndash;&gt; <img class="lazy" style="display: block;" alt="Memphies Pang" src="./Contact Us_files/DSC_0671.JPG" data-src="wysiwyg/Salesman/DSC_0671.JPG"> </a></div>
                    <div class="text">
                        <h4>Jack Wang</h4>
                        <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8618153209772" target="_blank">8618153209772</a></p>
                        <p>E-mail:&nbsp;<a href="mailto:sales21@chinatruck.cc">sales21@chinatruck.cc</a></p>
                        <p>Skype:&nbsp;<a href="skype:871650649@qq.com?chat">871650649@qq.com</a></p>
                        <p>Cel:&nbsp;<a href="cel:0086 181 5320 9772">0086 181 5320 9772</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact-title">
                    <h3>Trucks Sales Dep.1</h3>
                </div>
                <div class="contact-note">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Kevin Jiang &ndash;&gt; <img class="lazy" style="display: block;" alt="Kevin Jiang" src="./Contact Us_files/DSC_0675.JPG" data-src="wysiwyg/Salesman/DSC_0675.JPG"> </a></div>
                        <div class="text">
                            <h4>Kevin Jiang</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8617669717518" target="_blank">8617669717518</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales17@chinatruck.cc">sales17@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:kevinjiang0301?chat">kevinjiang0301</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 176 6971 7518">0086 176 6971 7518</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Vicky Wang &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="Vicky Wang" src="<img alt="" src="./Contact Us_files/DSC_0695.JPG">" style="display: block;"&gt; </a></div>
                        <div class="text">
                            <h4>Vicky Wang</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8613792436358" target="_blank">8613792436358</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales3@chinatruck.cc">sales3@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:yaya_0115?chat">yaya_0115</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 137 9243 6358">0086 137 9243 6358</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact-title">
                    <h3>Trucks Sales Dep.2</h3>
                </div>
                <div class="contact-note">&nbsp;</div>
            </div>
            <div class="row">
                <div class="contact-title">
                    <h3>Trucks Sales Dep.3</h3>
                </div>
                <div class="contact-note">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Robin Jiang &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="Robin Jiang" src="<img alt="" src="./Contact Us_files/DSC_0667.JPG">" style="display: block;"&gt; </a></div>
                        <div class="text">
                            <h4>Robin Jiang</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8617669717515" target="_blank">8617669717515</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales28@chinatruck.cc">sales28@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:robinjiang008?chat">robinjiang008</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 176 6971 7515">0086 176 6971 7515</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Bella Dai &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="" /&gt;" alt="Bella Dai" src="<img alt="" src="./Contact Us_files/20190214135047.jpg">" style="display: block;"&gt; </a></div>
                        <div class="text">
                            <h4>Bella Dai</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8615092055373" target="_blank">8615092055373</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales22@chinatruck.cc">sales22@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:bellabella6700?chat">bellabella6700</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 176 6971 7523">0086 176 6971 7523</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Sophia Li &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="Sophia Li" src="<img alt="" src="./Contact Us_files/DSC_0682.JPG">" style="display: block;"&gt; </a></div>
                        <div class="text">
                            <h4>Sophia Li</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8613356882115" target="_blank">8613356882115</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales15@chinatruck.cc">sales15@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:sophie399023?chat">sophie399023</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 176 6971 7526">0086 176 6971 7526</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是Kobe Zhang&ndash;&gt; <img class="lazy" style="display: block;" alt="Kobe Zhang" src="./Contact Us_files/DSC_0669.JPG" data-src="wysiwyg/Salesman/DSC_0669.JPG"> </a></div>
                        <div class="text">
                            <h4>Kobe Zhang</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8617669717516" target="_blank">8617669717516</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales30@chinatruck.cc">sales30@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:kobe.bryant601?chat">kobe.bryant601</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 176 6971 7516">0086 176 6971 7516</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="pic"><a class="img-box" style="display: block;" href="javascript:;"> &lt;!&ndash; 这个是George Jiang &ndash;&gt; <img class="lazy" alt="" data-src="&lt;img src=">" alt="George Jiang" src="<img alt="" src="./Contact Us_files/DSC_0679.JPG">" style="display: block;"&gt; </a></div>
                        <div class="text">
                            <h4>George Jiang</h4>
                            <p>Whatsapp:&nbsp;<a href="https://api.whatsapp.com/send?phone=8615866821829" target="_blank">8615866821829</a></p>
                            <p>E-mail:&nbsp;<a href="mailto:sales35@chinatruck.cc">sales35@chinatruck.cc</a></p>
                            <p>Skype:&nbsp;<a href="skype:008615866821829?chat">008615866821829</a></p>
                            <p>Cel:&nbsp;<a href="cel:0086 176 6971 7510">0086 176 6971 7510</a></p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<div th:include="include/footer.html"></div>
</body>
</html>
