<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header.html">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="China Me Truck Parts">
    <meta name="description" content="China Me Truck Parts">
    <title th:text="${partInfo.title}"></title>
</head>
<body>
<div class="main">
    <div class="col-main name1" style="width: 1280px;margin: 0 auto;">
        <div id="messages_product_view"></div>
        <div class="product-view" itemscope itemtype="http://schema.org/Product">
            <div class="product-essential">
                <form action="#" method="post" id="product_addtocart_form">
                    <input name="form_key" type="hidden" value="9urjle1ygni8BOSU" />
                    <div class="no-display">
                        <input type="hidden" name="product" value="11246" />
                        <input type="hidden" name="related_product" id="related-products-field" value="" />
                    </div>
                    <div class="product-img-box">
                        <!-- Begin magiczoomplus -->
                        <div class="MagicToolboxContainer selectorsRight minWidth">
                            <div class="MagicToolboxMainContainer">
                                <a id="MagicZoomPlusImage11246" class="MagicZoom" href="#" th:title="${partInfo.title}" data-options="zoomDistance:10;hint:off;">
                                    <img itemprop="image" th:src="${partInfo.image}" />
                                </a>
                            </div>
                        </div>
                        <!-- End magiczoomplus -->
                        <img id="image" th:src="${partInfo.image}" class="invisible" />
                    </div>
                    <div class="product-shop">
                        <div class="catalog-product-name">
                            <h1 itemprop="name" th:text="${partInfo.title}"></h1>
                        </div>
                        <div class="breadcrumbs">
                            <ul>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://www.chinatruckparts.com/" title="Go to Home Page" itemprop="url">
                                    <span itemprop="title">Home</span></a>
                                    <span>>> </span></li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">DAYUN</span>
                                    <span>>> </span></li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">Dump Truck＆Tractor Head</span>
                                    <span>>> </span></li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">N8E</span>
                                    <span>>> </span></li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">Cab</span>
                                    <span>>> </span></li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">13.1-Headlight (General Edition）</span>
                                    <span>>> </span></li>
                                <li class="crumbsbold"><span itemprop="title"><strong th:text="${partInfo.title}"></strong></span></li>
                            </ul>
                        </div>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="USD" />
                            <meta itemprop="price" content="0.00" class="gw-shema-price"/>
                            <link itemprop="availability" href="http://schema.org/InStock">
                        </div>
                        <div class="extra-info">
                        </div>
                    </div>
                    <div class="add-to-cart-wrapper ">
                        <div class="add-to-box">
                            <div class="add-to-cart ">
                                <label for="qty">Qty:</label>
                                <div class="qty-wrapper quantity">
                                    <a  id="Decrease" href="javascript:void(0)" class="reduceQty qtybtn reduceQty-hz" >-</a>
                                    <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text input-text-hz qty" />
                                    <a  id="Increase" href="javascript:void(0)" class="addQty qtybtn addQty-hz" >+</a>
                                </div>
                                Availability:100000
                                <div class="price-info">
                                    <input type="hidden" id="symbol" value="$">
                                    <span class="tot">
                                        Price(EXW):
                                        <span  style="color: #FF0088;font-size: 20px;font-weight:500;padding-left: 5px;">
                                            <div class="price-box">
                                                <span class="regular-price" id="product-price-11246">
                                                    <span class="price">$0.00</span>
                                                </span>

                                            </div>
		                                </span>
		                            </span>
                                </div>
                                <div class="add-to-cart-buttons ">
                                    <button style="visibility: hidden" type="button" class="button btn-cart gw-add-to-cart-buttons" >
                                        <span><span>Hidden button</span></span>
                                    </button>
                                    <!-- 这个是新加入的按钮 -->
                                    <a href="#popwindow" style="position: relative;left: 5px;background-color: #84bbfe;top: -60px;" type="button" class="button" >
                                        <span><span>Transport/Destination</span></span>
                                    </a>
                                    <button type="button" title="Add to Cart" class="button btn-cart gw-add-to-cart-buttons"  style="background:#f25f7b">
                                        <span><span>Add to Cart</span></span>
                                    </button>
                                    <button type="button"
                                            title="Buy now"
                                            class="button btn-cart gw-buy-now-buttons"
                                            onclick="productBuyNowForm.submit(this)" style="background:#ff8f00">
                                        <span><span>Buy now</span></span>
                                    </button>
                                    <div class="paybottom">
                                    </div>
                                </div>
                            </div>
                            <script>
                              jQuery(".gw-add-to-cart-buttons").click(function(){
                                jQuery("input#pp_checkout_url").val("https://www.chinatruckparts.com/checkout/cart/");
                                var pro_price = jQuery.trim(jQuery('.totalprice').text()).replace(/,/g, "").substring(1);
                                productAddToCartForm.submit();
                              });
                              jQuery(".gw-buy-now-buttons").click(function(){
                                var pro_price = jQuery.trim(jQuery('.totalprice').text()).replace(/,/g, "").substring(1);
                                productAddToCartForm.submit();
                              });

                            </script>

                            <script>
                              var productBuyNowForm = new VarienForm('product_addtocart_form');
                              productBuyNowForm.submit = function (button, url) {
                                if (this.validator.validate()) {
                                  var form = this.form;
                                  var oldUrl = form.action;
                                  // alert(form.action);
                                  if (url) {
                                    form.action = url;
                                  }

                                  /* add return Url */
                                  var inputreturn= document.createElement("input");
                                  inputreturn.type = "hidden";
                                  inputreturn.name = "return_url";
                                  inputreturn.value = "https://www.chinatruckparts.com/firecheckout/";
                                  document.getElementById('product_addtocart_form').appendChild(inputreturn);
                                  /* add return Url */
                                  // Append a line break
                                  var e = null;
                                  try {
                                    this.form.submit();
                                  } catch (e) {
                                  }
                                  this.form.action = oldUrl;
                                  if (e) {
                                    throw e;
                                  }

                                  if (button && button != 'undefined') {
                                    button.disabled = true;
                                  }
                                }
                              }.bind(productBuyNowForm);
                              jQuery(function(){
                                var oriprice = jQuery('.price-info .hiddeprice .price').text();
                                jQuery('.price-info .totalprice').text(oriprice);
                                jQuery("#qty").keyup(function(){
                                  var qty = jQuery(this).val();
                                  jQuery(this).val(qty.replace(/\D|^0/g,''));
                                });
                                jQuery("#qty").change(function(){
                                  var qty = jQuery(this).val();
                                  if(qty == ''){
                                    jQuery(this).val('1');
                                    var qty = 1;
                                  }
                                  var symbol = jQuery('#symbol').val();
                                  var pricetext = jQuery('.price-info .hiddeprice .price').text();
                                  if(pricetext.indexOf(symbol) > 0){
                                    var rprice = jQuery.trim(pricetext.replace(symbol,'').replace(',','.'));
                                    var totalprice = ((rprice*qty*10)/10).toFixed(2);
                                    jQuery('.price-info .totalprice').text(totalprice.replace('.',',')+' '+symbol);
                                  }else{
                                    var rprice = pricetext.replace(symbol,'');
                                    jQuery('.price-info .totalprice').text(symbol+((rprice* qty*10)/10).toFixed(2));
                                  }
                                });

                              })
                              function addQtyone(){
                                var price = jQuery('.price-info .hiddeprice .price').text().replace('$','');
                                var qtyPro=$('qty');
                                qtyPro.value = parseInt(qtyPro.value)+1;
                                var symbol = jQuery('#symbol').val();
                                var pricetext = jQuery('.price-info .hiddeprice .price').text();
                                if(pricetext.indexOf(symbol) > 0){
                                  var rprice = jQuery.trim(pricetext.replace(symbol,'').replace(',','.'));
                                  var totalprice = ((rprice*qtyPro.value*10)/10).toFixed(2);
                                  jQuery('.price-info .totalprice').text(totalprice.replace('.',',')+' '+symbol);
                                }else{
                                  var rprice = pricetext.replace(symbol,'');
                                  jQuery('.price-info .totalprice').text(symbol+((rprice* qtyPro.value*10)/10).toFixed(2));
                                }

                              }
                              function redQtyone(){
                                var price = jQuery('.price-info .hiddeprice .price').text().replace('$','');
                                var qtyPro=$('qty');
                                if(qtyPro.value<2){
                                  return false;
                                }else{
                                  qtyPro.value = parseInt(qtyPro.value)-1;
                                  var symbol = jQuery('#symbol').val();
                                  var pricetext = jQuery('.price-info .hiddeprice .price').text();
                                  if(pricetext.indexOf(symbol) > 0){
                                    var rprice = jQuery.trim(pricetext.replace(symbol,'').replace(',','.'));
                                    var totalprice = ((rprice*qtyPro.value*10)/10).toFixed(2);
                                    jQuery('.price-info .totalprice').text(totalprice.replace('.',',')+' '+symbol);
                                  }else{
                                    var rprice = pricetext.replace(symbol,'');
                                    jQuery('.price-info .totalprice').text(symbol+((rprice* qtyPro.value*10)/10).toFixed(2));
                                  }

                                }
                              }
                              jQuery(function(){
                                jQuery('body').on('click','.reduceQty-hz',function(){
                                  let nowValue= parseInt(jQuery('.input-text-hz').val());
                                  nowValue--;
                                  if(nowValue<1){
                                    nowValue=1;
                                  }
                                  jQuery('.input-text-hz').val(nowValue);
                                });
                                jQuery('body').on('click','.addQty-hz',function(){
                                  let nowValue= parseInt(jQuery('.input-text-hz').val());
                                  nowValue++;
                                  jQuery('.input-text-hz').val(nowValue);
                                })

                              })
                            </script>
                            <span class="or">OR</span>
                        </div>
                    </div>
                    <div style="display:none">
                        <meta itemprop="name" content="DAYUN Truck Parts Lamp(H4)-24V70W " />
                        <meta itemprop="url" content="https://www.chinatruckparts.com/dayun-truck-parts-lamp-h4-24v70w.html" />
                        <meta itemprop="image" content="https://www.chinatruckparts.com/media/catalog/product/cache/1/small_image/300x/4569cd1d21e8f21cd15f6256af8853b8/l/a/lamp_h4_-24v70w_.png" />
                        <span itemprop="description">DAYUN</span>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <span itemprop="price">0.00</span>
                            <meta itemprop="priceCurrency" content="USD" />
                            <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="in Stock" />
                        </div>
                    </div>
                    <div class="clearer"></div>
                </form>
                <script type="text/javascript">
                  var productAddToCartForm = new VarienForm('product_addtocart_form');
                  productAddToCartForm.submit = function(button, url) {
                    if (this.validator.validate()) {
                      var form = this.form;
                      var oldUrl = form.action;
                      if (url) {
                        form.action = url;
                      }
                      var e = null;
                      try {
                        this.form.submit();
                      } catch (e) {
                      }
                      this.form.action = oldUrl;
                      if (e) {
                        throw e;
                      }
                      if (button && button != 'undefined') {
                        button.disabled = true;
                      }
                    }
                  }.bind(productAddToCartForm);

                  productAddToCartForm.submitLight = function(button, url){
                    if(this.validator) {
                      var nv = Validation.methods;
                      delete Validation.methods['required-entry'];
                      delete Validation.methods['validate-one-required'];
                      delete Validation.methods['validate-one-required-by-name'];
                      // Remove custom datetime validators
                      for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                          delete Validation.methods[methodName];
                        }
                      }
                      if (this.validator.validate()) {
                        if (url) {
                          this.form.action = url;
                        }
                        this.form.submit();
                      }
                      Object.extend(Validation.methods, nv);
                    }
                  }.bind(productAddToCartForm);
                </script>

            </div>
            <a id="popwindow"></a>
            <div class="product-collateral toggle-content tabs">
                <dl id="collateral-tabs" class="collateral-tabs">
                    <dt class="tab"><span>Description</span></dt>
                    <dd class="tab-container">
                        <div class="tab-content">
                            <h2>Details</h2>
                            <div class="std">
                                DAYUN Truck Parts Lamp(H4)-24V70W
                            </div>
                        </div>
                    </dd>
                    <dt class="tab">
                        <span>Reviews</span>
                    </dt>
                    <dd class="tab-container">
                        <div class="tab-content">
                            <script type="text/javascript">
                              jQuery(document).ready(function() {
                                jQuery('.fancybox').fancybox();
                                jQuery('.fancybox-media').attr('rel', 'media-gallery').fancybox({
                                  openEffect : 'none',
                                  closeEffect : 'none',
                                  prevEffect : 'none',
                                  nextEffect : 'none',
                                  arrows : false,
                                  helpers : {
                                    media : {},
                                    buttons : {}
                                  }
                                });
                              });
                            </script>
                            <div class="box-collateral box-reviews " id="customer-reviews">
                                <div class="form-add">
                                    <h2>Write Your Own Review</h2>
                                    <form action="https://www.chinatruckparts.com/review/product/post/id/11246/" method="post" id="review-form" enctype="multipart/form-data">
                                        <input name="form_key" type="hidden" value="9urjle1ygni8BOSU" />
                                        <h3>
                                            You're reviewing:
                                            <span>DAYUN Truck Parts Lamp(H4)-24V70W </span>
                                        </h3>

                                        <div class="fieldset">
                                            <span id="input-message-box"></span>
                                            <input type="hidden" id="gw_ip" value="111.202.78.82"/>
                                            <ul class="form-list">
                                                <li class="inline-label">
                                                    <h4>Tell us what you think about item <em class="required">*</em></h4>
                                                    <label for="nickname_field" class="required">Overall Rating<em>*</em></label>
                                                    <div class="input-box">
                                                        <script>
                                                          function scoreFun(object, opts) {
                                                            var defaults = {
                                                              fen_d: 16,
                                                              ScoreGrade: 10,
                                                              types: [],
                                                              nameScore: "fenshu",
                                                              parent: "star_score",
                                                              attitude: "attitude"
                                                            };
                                                            options = $j.extend({}, defaults, opts);
                                                            var countScore = object.find("." + options.nameScore);
                                                            var inputScore = object.find("input")
                                                            var startParent = object.find("." + options.parent);
                                                            var atti = object.find("." + options.attitude);
                                                            var now_cli;
                                                            var fen_cli;
                                                            var atu;
                                                            var fen_d = options.fen_d;
                                                            var len = options.ScoreGrade;
                                                            startParent.width(fen_d * len);
                                                            var preA = (5 / len);
                                                            for (var i = 0; i < len; i++) {
                                                              var newSpan = $j("<a href='javascript:void(0)'></a>");
                                                              newSpan.css({
                                                                "left": 0,
                                                                "width": fen_d * (i + 1),
                                                                "z-index": len - i
                                                              });
                                                              newSpan.appendTo(startParent)
                                                            }
                                                            startParent.find("a").each(function(index, element) {
                                                              $j(this).click(function() {
                                                                now_cli = index;
                                                                show(index, $j(this))
                                                              });
                                                              $j(this).mouseenter(function() {
                                                                show(index, $j(this))
                                                              });
                                                              $j(this).mouseleave(function() {
                                                                if (now_cli >= 0) {
                                                                  var scor = preA * (parseInt(now_cli) + 1);
                                                                  startParent.find("a").removeClass("clibg");
                                                                  startParent.find("a").eq(now_cli).addClass("clibg");
                                                                  var ww = fen_d * (parseInt(now_cli) + 1);
                                                                  startParent.find("a").eq(now_cli).css({
                                                                    "width": ww,
                                                                    "left": "0"
                                                                  });
                                                                  if (countScore) {
                                                                    countScore.text(scor+'.0')
                                                                  }
                                                                  inputScore.val(parseInt(inputScore.data('id'))-5+scor);
                                                                } else {
                                                                  startParent.find("a").removeClass("clibg");
                                                                  if (countScore) {
                                                                    countScore.text("")
                                                                  }
                                                                  inputScore.val(parseInt(inputScore.data('id'))-5+scor);
                                                                }
                                                              })
                                                            });

                                                            function show(num, obj) {
                                                              var n = parseInt(num) + 1;
                                                              var lefta = num * fen_d;
                                                              var ww = fen_d * n;
                                                              var scor = preA * n;
                                                              atu = options.types[parseInt(num)];
                                                              object.find("a").removeClass("clibg");
                                                              obj.addClass("clibg");
                                                              obj.css({
                                                                "width": ww,
                                                                "left": "0"
                                                              });
                                                              countScore.text(scor+'.0');
                                                              inputScore.val(parseInt(inputScore.data('id'))-5+scor);
                                                              atti.text(atu)
                                                            }
                                                          };</script>
                                                        <div class="ratingcode">Quality:</div>
                                                        <div id="start1" class="clearfix ratingscore">
                                                            <div class="star_score"></div>
                                                            <span class="fenshu"></span>
                                                            <input type="hidden" data-id="5" value="5" name="ratings[1]"/>
                                                        </div>
                                                        <br/>
                                                        <script>
                                                          scoreFun($j("#start1"),{
                                                            fen_d:15,//每一个a的宽度
                                                            ScoreGrade:5//a的个数 10或者
                                                          })
                                                        </script>

                                                        <div class="ratingcode">Price:</div>
                                                        <div id="start3" class="clearfix ratingscore">
                                                            <div class="star_score"></div>
                                                            <span class="fenshu"></span>
                                                            <input type="hidden" data-id="15" value="15" name="ratings[3]"/>
                                                        </div>
                                                        <br/>
                                                        <script>
                                                          scoreFun($j("#start3"),{
                                                            fen_d:15,//每一个a的宽度
                                                            ScoreGrade:5//a的个数 10或者
                                                          })
                                                        </script>

                                                        <div class="ratingcode">Value:</div>
                                                        <div id="start2" class="clearfix ratingscore">
                                                            <div class="star_score"></div>
                                                            <span class="fenshu"></span>
                                                            <input type="hidden" data-id="10" value="10" name="ratings[2]"/>
                                                        </div>
                                                        <br/>
                                                        <script>
                                                          scoreFun($j("#start2"),{
                                                            fen_d:15,//每一个a的宽度
                                                            ScoreGrade:5//a的个数 10或者
                                                          })
                                                        </script>


                                                        <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                                                    </div>
                                                </li>
                                                <li class="inline-label">
                                                    <label for="nickname_field" class="required">Nickname<em>*</em></label>
                                                    <div class="input-box">
                                                        <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="" />
                                                    </div>
                                                </li>
                                                <li class="inline-label">
                                                    <label for="summary_field" class="required">Review Title:<em>*</em></label>
                                                    <div class="input-box">
                                                        <input type="text" name="title" id="summary_field" class="input-text required-entry" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label for="review_field" class="required">Review Content<em>*</em></label>
                                                    <div class="input-box">
                                                        <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"></textarea>
                                                    </div>
                                                </li>
                                                <div style="clear:both;padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #cbcbcb;"></div>
                                                <li class="box-img">
                                                    <div class="input-box-image" id="J-input-box-image"></div>
                                                </li>
                                                <li class="inline-label">
                                                    <label for="video_field">Attach Your Video</label>
                                                    <div class="input-box">
                                                        <input type="text" name="video" id="video_field" class="input-text" placeholder="Post Your YouTube Video" />
                                                    </div>
                                                </li>
                                                <div style="clear:both;padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #cbcbcb;"></div>
                                            </ul>
                                        </div>
                                        <div class="buttons-set">
                                            <button type="submit" id="review-submit" title="Submit Review" class="button" disabled="disabled" ><span><span>Submit Review</span></span></button>
                                            <a class="btn ctrTrack add-image" href="javascript:void(0);" target="_self" style="color:red;">
                                                Add image                </a>
                                        </div>
                                    </form>
                                    <script type="text/javascript">
                                      //<![CDATA[
                                      var dataForm = new VarienForm('review-form');

                                      var image_max = 3;  //max able to upload images
                                      $j(document).ready(function(){
                                        var target = $j('#J-input-box-image');
                                        $j('#review-form .buttons-set>.add-image').click(function(){
                                          if(target.find('div.input-box').length < image_max){
                                            target.append('<div class="input-box"><input type="file" style="line-height: 50px;color:red;padding: 5px 0 0 0!important;" class="input-text required-entry " name="image[]">&nbsp;&nbsp;<a class="rm btn btn-mini" target="_self" style="height: 37px; line-height: 33px;">delete</a></div>');
                                          }else{
                                            alert('can not add more than ' + image_max + ' image(s)');
                                          }
                                        });
                                        target.on('click', '.btn-mini', function(){
                                          $j(this).parent('.input-box').remove();
                                        });
                                      });
                                      //]]>
                                    </script>
                                </div>

                                <p class="no-rating"><a href="#review-form">Be the first to review this product</a></p>

                            </div>
                            <script src="https://www.chinatruckparts.com/skin/frontend/rwd/kailai/js/lightbox.js"></script></div>
                    </dd>
                </dl>
            </div>
            <div class="product-inquiry" name="2F"  id="2F">
                <h2>Contact Supplier:</h2>
                <form action="/message/index/savemessage" id="productcontactForm" method="post">
                    <input type="hidden" name="product_id" value="11246"/>
                    <input type="hidden" name="pages" value="0"/>
                    <div class="">
                        <ul class="form-list">
                            <li class="fields">
                                <div class="field">
                                    <label for="customer_email" class="required lebelright"><em>*</em>Your Email:</label>
                                    <div class="input-box">
                                        <input name="Email" id="customer_email" title="Your Email" value="" class="input-text required-entry validate-email" type="text" />
                                    </div>
                                </div>
                            </li>
                            <li class="fields">
                                <div class="field">
                                    <label for="personal_name" class="required lebelright"><em>*</em>Your Name:</label>
                                    <div class="input-box">
                                        <input name="name" id="personal_name" title="Your Name" value="" style="width:185px !important;" class="required-entry input-text" type="text" />
                                    </div>
                                </div>
                            </li>
                            <li class="fields">
                                <div class="field">
                                    <label for="phone" class="required lebelright">Tel Number:</label>
                                    <div class="input-box">
                                        <input name="number" id="phone" title="Tel Number" value="" class="input-text" type="text" />
                                    </div>
                                </div>
                            </li>
                            <span style="clear:both"></span>
                            <li class="wide">
                                <label for="detail" class="required"><em>*</em>Type of Business:</label>
                                <div class="input-box" style="display:block">
                                    <textarea name="message" id="detail" title="Type of Business" class="required-entry input-text" cols="7" rows="5" placeholder="Briefly explain what type of business you operate and what specific type of products you are interested in."></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="buttonsset">
                        <p class="required">* Required Fields</p>
                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                        <button type="submit"  title="Submit" class="button hz_detail_submitjs"><span><span>Submit</span></span></button>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
          $(".hz_detail_submitjs").click(function(){
            fbq('trackCustom','Contact-Supplier');
          })
          jQuery(document).ready(function(){
            var url_hash = window.location.hash;
            if(url_hash == '#input-message-box'){
              jQuery('.toggle-tabs li').each(function(e){
                jQuery(this).removeClass('current');
                if(e == 3){
                  jQuery(this).addClass('current');
                }
              });
              jQuery('.collateral-tabs dt').each(function(e){
                jQuery(this).removeClass('current');
                if(e == 3){
                  jQuery(this).addClass('current');
                }
              });
              jQuery('.collateral-tabs dd').each(function(e){
                jQuery(this).removeClass('current');
                if(e == 3){
                  jQuery(this).addClass('current');
                }
              });
              window.location.hash = "#input-message-box";
            }
          });
        </script>
        <style>
            .col-main{
                padding: 0px;
            }
        </style>

        <style>
            @media only screen and (max-width: 375px) {
                #MagicToolboxSelectors18{
                    height: 200px !important;
                }
            }
        </style>

        <script type="text/javascript">
          document.observe('dom:loaded', function() {
            jQuery('#product-options-wrapper dl dd').each(function(e){
              jQuery('#product-options-wrapper dl dd').find('.swatches-container').find('a:first').click();
            });
          });
        </script>

        <script>
          jQuery(document).ready(function(){
            jQuery('.add-to-cart-buttons .gw-add-to-cart-buttons').click(function(){
              pintrk('track', 'addtocart');
            });
            jQuery('.add-to-cart-buttons .gw-buy-now-buttons').click(function(){
              pintrk('track', 'addtocart');
            });
            jQuery('.paypal-logo .gw-paypal-button').click(function(){
              pintrk('track', 'addtocart');
            });
            jQuery('.paypal-logo .bml_button .gw-paypalbml-button').click(function(){
              pintrk('track', 'addtocart');
            });
          });
        </script>
        <script type="text/javascript">
          var lifetime = 3600;
          var expireAt = Mage.Cookies.expires;
          if (lifetime > 0) {
            expireAt = new Date();
            expireAt.setTime(expireAt.getTime() + lifetime * 1000);
          }
          Mage.Cookies.set('external_no_cache', 1, expireAt);
        </script>
    </div>

</div>
<div th:include="include/footer.html"></div>
</body>
</html>

